/* Styling for body */
body{
    background-image: url(./Images/Techy\ Background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(106, 94, 94);
    background-blend-mode: multiply;
}
/* Styling for Logo */
.logo{
    margin: 0px;
}
.logo img{
    width: 300px;
}


/* Styling for Header */
header{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to left, rgba(200, 0, 0, 0), rgba(0, 0, 0, 5));
    padding: 20px;
    border-radius: 60px;
    width: 1400px;
    height: 90px;
    animation: bounce 2s ease-in-out infinite alternate;
}

header:hover{
    animation-play-state: paused;
}

@keyframes bounce{
    from{
        transform: translateY(0px);
        box-shadow: 0px 0px 10px rgb(255, 255, 255);
    }
    to{
        transform: translateY(-10px);
        box-shadow: 0px 0px 10px rgb(77, 56, 56);
    }
}


/*Styling for the navigation links*/
nav a{
    list-style-type: none;
    margin-left: 50px;
    font-size: 40px;
}


nav a{
    text-decoration: none;
    color: rgb(40, 189, 189);
    font-family: 'Smooch Sans', sans-serif;
    transition: 0.5s ease-in-out;
}


nav a:hover{
    color: blue;
    border: solid;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Tooltip for contacts page */
.tooltip{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext{
    width: 130px;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    color: white;
    padding: 10px;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    top: 125%;
    left: 65%;
    margin-left: -65px /*Half of its width to center the tooltip*/
}

.tooltiptext::after{
    content: "";
    position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent #fbfbfb;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}


/* Bento Grid */
.bento{
    display: grid;
    grid-template-columns: 300px 300px 250px 255px 255px 255px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    grid-template-areas: 
    'work work edu edu edu edu'
    'work work edu edu edu edu'
    'work work cg cg AI AI'
    'exp exp cg cg AI AI'
    'exp exp web web app app'
    'exp exp web web app app';
    gap: 10px;
}

/* Styling for headings */
.title{
    font-family: 'Ostwald', sans-serif;
}

/* Styling for paragraphs */
.par{
    font-family: 'Dancing Script', sans-serif;
    color: rgb(56, 204, 11);
}


.exp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    grid-area: exp;
    font-family: 'Caveat', sans-serif;
    background-image:linear-gradient(to top ,grey, black) ;
    opacity: 70%;
    border: solid 6px black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 500px;
}

.exp:hover{
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}


.work{
    background-image: url(./Images/Git\ hub\ Background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(104, 101, 101);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    grid-area: work;
    font-family: 'Caveat', sans-serif;
    border: solid 6px black;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    margin: 10px;
    color: blue;
}

.work:hover{
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.fa-github{
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
}

.edu{
    background-image: url(./Images/Education\ Background.webp);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(168, 164, 164);
    background-blend-mode: multiply;
    grid-area: edu;
    font-family: 'Caveat', sans-serif;
    border-radius: 20px;
    padding: 18px;
    margin-right: 50px;
    width: 980px;
    font-size: 35px;
    text-align: center;
    color: white;
}

/* Education */

/* @keyframes rotate{
   0%{
    transform:translateX(10%) ;
   }
   25%{
    transform: translateY(-20%);
   }
   50%{
    transform: translateX(-10%);
   }
   75%{
    transform: translateY(20%);
   }
   100%{
    transform: translateX(10%);
   }
} */


.web{
    grid-area: web;
    width: 500px;
    height: 388px;
    background-image: url(./Images/Web\ Development.webp);
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 4px grey;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    animation: web-out 5s ease-in infinite;
}

/* @keyframes web-out {
    0%{
        transform: translateY(20%);
    }
    100%{
        transform: translateY(-20%);
    }
} */
.web h3{
    text-align: end;
    font-family: 'Oswald';
    color: rgb(28, 9, 242);
    font-size: 40px;
}

.AI{
    opacity: 0.7;
    grid-area: AI;    
    width: 500px;
    height: 388px;
    background-image: url(./Images/AI\ Learning.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 4px grey;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
     animation: rotate 5s infinite;
}

.AI h3{
    text-align: end;
    font-family: 'Oswald';
    color: rgb(28, 9, 242);
    font-size: 40px;
}

.app{
    opacity: 0.7;
    grid-area: app;
    width: 500px;
    height: 388px;
    background-image: url(./Images/Mobile\ App\ Development.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 4px grey;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
     animation: rotate 5s infinite;
}

.app h3{
    text-align: end;
    font-family: 'Oswald';
    color: rgb(28, 9, 242);
    font-size: 40px;
}


.cg{
    opacity: 0.7;
    grid-area: cg;
    width: 500px;
    height: 388px;
    background-image: url(./Images/Computer\ Graphics.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 4px grey;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
     animation: rotate 5s infinite;
}

.cg h3{
    text-align: end;
    font-family: 'Oswald';
    color: rgb(28, 9, 242);
    font-size: 40px;
}


/* Styling for reviews */
.reviews{
    display: flex;
    justify-content: space-around;
    font-family: 'Shadows Into Light', sans-serif;
}

.rtitle{
    font-family: 'Lobster Two', sans-serif;
    text-align: center;
}

.name{
    color: aliceblue;
    font-size: small;
    font-weight: 600;
    transition: ease-in-out 0.5s;
}

.name:hover{
    color: rgb(9, 9, 9);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.comment{
    font-size: 40px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: solid 2px rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    transition: ease-in-out 1s 0.7s;
}

.comment p{
    font-size: 40px;
}

.comment:hover{
    transform: translateY(-7%);
    box-shadow: 8px 10px 10px  rgba(255, 255, 255, 1);
    color: aliceblue;
}

/* Styling for footer */
footer{
    background-color: transparent;
    border: 4px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px;
   text-align: center;
   padding: 30px;
   color: white;
   font-size: 30px;
}

/* Email tooltip */
.emailtp{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.emailtpt{
    position: absolute;
    background-color: transparent;
    color: white;
    padding: 10px;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 20px;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* margin-left: -65px Half of its width to center the tooltip */
}

.emailtpt::after{
    content: "";
    position: absolute;
    right: 101%;
    top: 51%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid; 
    border-color:  transparent rgb(255, 255, 255) transparent transparent;
}

.emailtpt{
    top: -90%;
    left: 105%;
}

.emailtp:hover .emailtpt{
    visibility: visible;
    opacity: 1;
}

.fa-brands{
    font-size: larger;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    padding: 10px;
}

.fa-instagram{
    color: deeppink;
}

.fa-facebook-f{
    color: rgb(75, 75, 238);

}

.fa-x-twitter{
    color: rgb(75, 75, 238);

}

/* Mobile phone layout */
@media screen and (max-width:1000px) {
    
.hero {margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    }

.head{
    text-align: left;
}

.logo{
    font-size: 300px;
    margin: auto;
}

.bento{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(15, 200px);
    text-align: left;
    grid-template-areas: 
    'work'
    'work'
    'exp'
    'exp'
    'exp'
    'exp'
    'edu'
    'edu'
    'edu'
    'cg'
    'cg'
    'AI'
    'AI'
    'web'
    'web'
    'app'
    'app';
    gap: 10px;
}

.work{ 
    padding: 0px;
}


.exp{
    width: auto;
}


h2{
    font-size: 50px;
}

.title{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: chartreuse;
}

.par{
    text-align: center;
    font-size: 45px;
    font-weight: 900;
}

nav a{
    font-size: 35px;
    text-align: center;
}

span{
    font-size: 50px;
    margin-top: 38px;
    margin-left: 40px;
    text-decoration: underline;
}

.logo{
    width: 200px;
}

p{
    font-size: 30px;
}
.edu{
    width: auto;
}

.web{
    width: auto;
}
.app{
    width: auto;
}
.AI{
    width: auto;
}
.cg{
    width: auto;
}
.reviews{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    text-align: center;
    margin-left: 80px;
}
}