/* Bebas Neue font link */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Arimo:ital,wght@0,400..700;1,400..700&family=Caveat:wght@400..700&family=Commissioner:wght@100..900&family=Cookie&family=Creepster&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Federant&family=Fjalla+One&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gloria+Hallelujah&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IN+Guides&family=Playwrite+NZ+Basic:wght@100..400&family=Playwrite+NZ:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Shadows+Into+Light&family=Smooch+Sans:wght@100..900&family=Syne:wght@400..800&family=Tapestry&family=Titan+One&display=swap');


body{
    margin: 0;
    background-image: url(./Images/background\ image.webp);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

/* HEADER */

nav {
    width: 900px;
    height: 90px;
    margin-top: 20px;
    background: rgb(8, 8, 8, 0.5);
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

nav a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
}

.tooltip{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    background-color: transparent;
    color: white;
    padding: 10px;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 20px;
    top: 125%;
    left: 65%;
    margin-left: -65px /*Half of its width to center the tooltip*/
}

.tooltiptext::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}


/* MAIN */

/* CARD */

.card{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    box-sizing: border-box;
    background-color: rgba(65, 57, 57, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
    height: 900px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}


/* LEFT SIDE */

.photo img{
    border-radius: 20px;
    box-sizing: border-box;
    width: 500px;
    margin-top: 20px;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
}


.content img{
    width: 100px;
}
/* RIGHT SIDE */
.text h1{
    font-family:'Bebas Neue', cursive;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 50px;
    color: rgb(8, 8, 8);
}

.text{
    text-align: center;
    margin-top: -200px;
    width: 500px;
}

.text h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    color: rgb(8, 8, 8);
}

.text p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: rgb(8, 8, 8);
}

/* BUTTONS */
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.buttons button{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 87);
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
    animation: buttons 5s infinite;
}

@keyframes buttons{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20%);
        background-color: seagreen;
        box-shadow: 4px 4px 4px rgb(0, 0, 0);
        transform: scale(1.2);
    }
    100%{
        transform: translateY(0);
    }
}

.button:hover{
    transform: translateY(-20%);
    animation-play-state: paused;
}

/* FOOTER */
footer{
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer .fa-instagram{
    color: rgb(172, 19, 103);
    transition: ease-in-out 0.5s;
}

footer.fa-facebook-f{
    color: rgb(0, 0, 255);
    transition: ease-in-out 0.5s;
}

footer .fa-x-twitter{
    color: rgb(0, 0, 255);
    transition: ease-in-out 0.5s;
}

footer i:hover{
    transform: translateY(-20%);
}

footer .fa-brands:hover{
    color: rgb(196, 225, 65);
}
