body{
    font-weight: 800;
    background-image: linear-gradient(to top, rgb(91, 87, 87), rgb(25, 20, 20));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* HEADER */
nav {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    border: solid 0.5vh black;
    border-radius: 2vh;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    margin: 10px;
    padding: 10px;
}

.tooltip{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    background-color: transparent;
    color: white;
    padding: 10px;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 20px;
    top: 125%;
    left: 65%;
    margin-left: -65px /*Half of its width to center the tooltip*/
}

.tooltiptext::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}


/* MAIN */
/* LEFT SIDE */
main{
    background-color: transparent;
    border-radius: 20px;
    border: 5px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin: 0px;
    padding:  0px;
    width: 1200px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}
.photo img{
    border-radius: 50%;
    max-width: 50%;
    width: 80px;
    margin-top: 20px;
    overflow: hidden;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.content img{
    width: 450px;
}

.text{
    margin-left: 10cqh;
    margin-right: 20cqh;
    text-align: center;
}

/* BUTTONS */
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.buttons button{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 87);
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
    animation: buttons 5s infinite;
}

@keyframes buttons{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20%);
        background-color: seagreen;
        box-shadow: 4px 4px 4px rgb(0, 0, 0);
        transform: scale(1.2);
    }
    100%{
        transform: translateY(0);
    }
}

.button:hover{
    transform: translateY(-20%);
    animation-play-state: paused;
}

/* FOOTER */
footer{
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    font-size: 2em;
}

footer a{
    text-decoration: none;
    color: black;
}

footer .fa-instagram{
    color: rgb(172, 19, 103);
    transition: ease-in-out 0.5s;
}

footer.fa-facebook-f{
    color: rgb(0, 0, 255);
    transition: ease-in-out 0.5s;
}

footer .fa-x-twitter{
    color: rgb(0, 0, 255);
    transition: ease-in-out 0.5s;
}

footer i:hover{
    transform: translateY(-20%);
}

footer .fa-brands:hover{
    color: rgb(196, 225, 65);
}
