body{
    background-image: linear-gradient(to top, rgb(45, 45, 49), rgb(148, 154, 160));
    background-repeat: no-repeat;
    background-size: cover;
}


/* HEADER */
header{
    box-shadow: 2px 4px 8px rgb(24, 55, 17);
    border-radius: 20px;
    max-width: 100%;
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background-image: linear-gradient(to right ,grey ,rgb(29, 28, 28));
}

/* LOGO */
.logo img{
    width: 300px;
    filter: brightness(1);
    transition: ease-in-out 0.5s;
}

.logo img:hover{
    width: 320px;
   filter: brightness(2);
}
/* NAVIGATION BAR */
nav{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

nav a{
    font-family: 'Syne';
    font-size: 2em;
    color: rgb(46, 190, 14);
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    transition: ease-in-out 0.5s;
}

nav a.active{
    color: rgb(43, 11, 181);
    text-decoration: underline;
}

nav a:hover{
    transform: scaleX(120%);
    text-decoration: underline;
    color: rgb(184, 140, 132);
}

/* Heading */
.title{
    margin-left: 800px;
}

h1{
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
/* PROJECT */
/* Project 1 */
.project1{
    background-image: radial-gradient(circle, rgb(192, 188, 188,0.5), rgb(44, 157, 201,0.5), rgb(77, 77, 208,0.5));
    font-family: 'Saira Condensed';
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
    width: 1200px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.project1 h2{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

/* Extraa info */
.extra-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.design{
    background-color: rgb(173, 164, 164, 0.5);
    border-radius: 20px;
    width: 100px;
    border: black solid 1px;
    text-align: center;
}

.branding{
    background-color: rgb(173, 164, 164, 0.5);
    border-radius: 20px;
    width: 100px;
    border: black solid 1px;
    text-align: center;
}

.identity{
    border: solid 1px black;
    background-color: rgb(173, 164, 164, 0.5);
    border-radius: 20px;
    width: 100px;
    text-align: center;
}



.project1 p{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.bento img{
    width: 600px;
    height: auto;
    border-radius: 20px;
}


/* Project 2 */
.project2{
    background-image: radial-gradient(circle, rgb(192, 188, 188,0.5), rgb(44, 157, 201,0.5), rgb(77, 77, 208,0.5));
    width: 1200px;
    border-radius: 20px;
    font-family: 'Saira Condensed';
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px 280px;
    padding: 10px;
}
.website img{
    width: 600px;
    height: auto;
    border-radius: 20px;
}
.project2 h2{
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.explain2{
    margin-left: 70px;
}
.project2 p{
    font-size: 30px;
    color: rgb(255, 255, 255);
}


/* Project 3 */
.project3{
    margin: 10px 280px;
    background-image: radial-gradient(circle, rgb(192, 188, 188,0.5), rgb(44, 157, 201,0.5), rgb(77, 77, 208,0.5));
    width: 1200px;
    border-radius: 20px;
    font-family: 'Saira Condensed';
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.clipboard img{
    width: 600px;
    height: auto;
    border-radius: 20px;
}

.project3 h2{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.explain3{
    margin-left: 20px;
    text-align: center;
}
.project3 p{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

/* Project 4 */
.project4{
    margin: 10px 280px;
    background-image: radial-gradient(circle, rgb(192, 188, 188,0.5), rgb(44, 157, 201,0.5), rgb(77, 77, 208,0.5));
    width: 1200px;
    border-radius: 20px;
    font-family: 'Saira Condensed';
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}
.huddle img{
    width: 600px;
    height: auto;
    border-radius: 20px;
}

.explain4{
    margin-left: 70px;
}

.project4 h2{
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.project4 p{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

/* FOOTER */
footer{
    background-color: rgb(79, 83, 83);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}
